@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?km5xes');
  src:  url('../fonts/icomoon.eot?km5xes#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?km5xes') format('truetype'),
    url('../fonts/icomoon.woff?km5xes') format('woff'),
    url('../fonts/icomoon.svg?km5xes#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e902";
}
.icon-time:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-decrease:before {
  content: "\e908";
}
.icon-worker:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-house:before {
  content: "\e90b";
}
.icon-chat-icon:before {
  content: "\e90c";
}
