/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import "_presets";

body {
  font-family: $font-poppins;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 100;
  background-color: #fff;
  @media (max-width: 575px) {
    font-size: 14px !important;
  }
}
.colored-bg {
  background: url("../img/main-bg.png") no-repeat top center / cover;
}

a {
  color: #5268a0;
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}
.common-link{
 color: $main-red !important;
 &:hover{
  color: $dark-gray !important;
 }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: $main-gray;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  &:hover {
    background: #748ec6;
    color: #fff;
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 36px 0;

  .menu-section {
    .nav-link {
      font-size: 15px;
      color: $dark-gray;
      padding: 2px 0;
      font-weight: $medium;
      position: relative;
      transition: all 0.4s;
      &.selected,
      &:hover {
        &:after {
          content: "";
          height: 2px;
          width: 20px;
          background-color: $main-red;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      &.red {
        color: $main-red;
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  .logo {
    transition: all 0.4s;
    padding: 2px 0;
    img {
      margin: 0;
      max-height: 48px;
      transition: all 0.4s;
    }

    @media (max-width: 767px) { 
      width: 180px;
     }
  }
  &.header-scrolled {
    background: rgba(255, 255, 255, 0.99);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    .logo {
      img {
        max-height: 40px;
      }
    }
  }
}

/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 1200px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  #header {
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.99);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
}

.navbar-toggler {
  color: $main-red;
  &:focus {
    box-shadow: 0 0 0 0;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

#main {
  margin-top: 116px;
  padding-top: 65px;
}

@media screen and (max-width: 1200px) {
  .main-menu {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  #main {
    margin-top: 75px;
    padding-top: 50px;
  }
}

section {
  padding: 90px 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .coming-soon-page #main {
    min-height: calc(100vh - 439px);
  }
  .book-a-demo-page #main {
    min-height: calc(100vh - 439px);
  }
  section {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}
.section-bg {
  background-color: #f2f5fa;
}

.section-title {
  font-size: 41px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: $dark-gray;
  font-family: $font-poppins;
  @media (max-width: 768px) {
    font-size: 24px !important;
  }
  .highlight {
    color: $main-red;
  }
}
.section-sub-title {
  font-size: 20px;
  font-weight: $regular;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: $gray;
  text-transform: capitalize;
  font-family: $font-poppins;
}

@keyframes bounces {
  0% {
    margin-top: 0;
    margin-bottom: 25px;
  }
  100% {
    margin-top: -10px;
    margin-bottom: 35px;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: $dark-gray;
}
.stats {
  .count {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 25px;
      top: 6px;
      left: 0;
      background-color: $main-red;
    }
  }
}
.content-box {
  padding: 25px 35px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 25px 0px rgba(101, 99, 99, 0.11);
  position: relative;
  i{
    font-size: 50px;
    color: $main-red;
  }
  h3 {
    font-size: 22px;
    font-weight: $semibold;
    color: $dark-gray;
    position: relative;
    padding-bottom: 7px;
    @media (max-width: 575px) {
      font-size: 18px;
    }
    &:after {
      content: "";
      height: 2px;
      width: 32px;
      background-color: $main-red;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .read-more{
    z-index: 996;
    background: $main-red;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      color: #fff;
      font-size: 24px;
    }
    &:hover{
      background: #000;
    }
  }
}
@media (min-width: 992px) {
  .box-2 {
    margin-top: 80px;
  }
  .box-3 {
    margin-top: 160px;
  }
}
.mobile-app-screens{
  box-shadow: 0 0 25px 0px rgba(101, 99, 99, 0.1);
  border-radius: 35px;
}
.last-box {
  .content-box {
    &:after {
      content: "";
      background-color: $main-red;
      width: calc(100% - 24px);
      height: 100px;
      position: absolute;
      z-index: -1;
      bottom: -13px;
      border-radius: 0 0 52px 0;
    }
  }
}
.leaves {
  .leave {
    position: relative;
    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 35px;
      color: #fff;
      h4 {
        font-size: 20px;
        font-weight: $medium;
      }
      h6 {
        font-size: 14px;
        font-weight: $regular;
      }
    }
    &.philosophy {
      border-radius: 40px 40px 0 40px;
      overflow: hidden;
    }
    &.office {
      border-radius: 40px 40px 40px 0;
      overflow: hidden;
    }
    &.teamwork {
      border-radius: 40px 40px 0 40px;
      overflow: hidden;
    }
    @media (max-width: 992px) {
      &.philosophy,
      &.office,
      &.teamwork {
        border-radius: 40px;
      }
    }
  }
}
.floating-image {
  position: absolute;
  @media (max-width: 1024px) {
    position: relative;
  }
  img {
    @media (max-width: 1024px) {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
    @media (max-width: 1366px) {
      max-width: 100%;
    }
  }
}
.heart-beat-of-jrc {
  background: url("../img/heart-beat-bg.jpg") no-repeat 0 center / cover;

  .red {
    background-color: $main-red;
    font-size: 48px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}
.potential-wrapper {
  margin-top: -115px;
  margin-bottom: 30px;

  @media (max-width: 1024px) {
    margin-top: -115px;
    margin-bottom: 30px;
  }
  .potential {
    background: url("../img/potential-bg.png") no-repeat 0 center / cover;
    border-radius: 40px 0 40px 40px;
    border: 1px solid $main-red;
  }
}
.culture-extra-padding {
  padding-bottom: 180px;
  @media (max-width: 1024px) {
    padding-bottom: 125px;
  }
}
.behind-coded-lines {
  position: relative;
  z-index: 1;
}
.gptw-badge{
  position: fixed;
  top: 120px;
  right: 25px;
  text-align: center;
  z-index: 996;
  @media (max-width: 1024px) {

    img{
      width: 110px;
    }
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/wave-1.png") no-repeat bottom right $main-red;

  .office-asia {
    border-right: 1px solid rgba(255, 255, 255, 0.32);
    @media (max-width: 575px) {
      border-right: 0 none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    }
  }
  .footer-menu {
    ul li a {
      &:hover {
        text-decoration: underline;
        color: #fff !important;
      }
    }
  }
  a {
    &:hover {
      text-decoration: underline;
      color: #fff !important;
    }
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.great-strength {
  position: absolute;
  right: -85px;
  width: 300px;
  top: 150px;
}
.our-story {
  background: url("../img/wave-1.png") no-repeat bottom right $main-red;
}
.about-image {
  @media (max-width: 1024px) {
    margin-top: 20px !important;
  }
}
.master-name {
  &:before {
    content: "";
    height: 2px;
    width: 32px;
    background-color: $main-red;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.master-description {
  // overflow: hidden;
  // overflow-y: auto;
  // max-height: 150px;
  // @media (max-width: 576px) {
  //   overflow: visible;
  // }
}
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid $dark-gray;
  border-radius: 8px;
  transition: all 0.4s;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  float: left;

  i {
    font-size: 27px;
    color: $dark-gray;
  }
  &:hover {
    border: 1px solid $main-red;
    i {
      color: $main-red;
    }
  }
  &:after {
    display: none;
  }
}
.open-positions {
  .accordion-list {
    padding: 0 100px;
    ul {
      padding: 0;
      list-style: none;
    }
    li {
      border-radius: 12px;
      position: relative;
      background: #fff;
      margin-bottom: 20px;

      a {
        display: inline-block;
        width: 100%;
        position: relative;
        font-family: $font-poppins;
        font-size: 18px;
        line-height: 24px;
        font-weight: $medium;
        color: $dark-gray;
        outline: none;
        padding: 25px 30px;
        cursor: pointer;
        .text {
          float: left;
          padding-right: 35px;
          font-size: 22px;
          font-weight: $medium;
          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
      .job-details {
        padding: 50px 80px;
        border-top: 1px solid #f5f5f5;
        @media (max-width: 667px) {
          padding: 25px;
        }
        .section {
          h4 {
            font-size: 18px;
            font-weight: $medium;
            margin-bottom: 20px;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
          ul {
            li {
              font-size: 16px;
              font-weight: $regular;
              margin-bottom: 7px;
              padding-left: 22px;
              @media (max-width: 768px) {
                font-size: 12px;
              }
              &:before {
                content: "\25AA";
                color: $main-red;
                font-weight: bold;
                display: inline-block;
                font-size: 22px;
                position: absolute;
                left: 0;
                top: -6px;
              }
            }
          }
        }
        .send-to {
          border-top: 1px solid #f5f5f5;
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .show-icon,
    .close-icon {
      font-size: 24px;
      position: absolute;
      right: 0;
      color: $dark-gray;
    }

    p {
      margin-bottom: 0;
      padding: 10px 0 0 0;
      font-family: $font-poppins;
      font-size: 14px;
      font-weight: $regular;
      color: $gray;
      padding-right: 35px;
    }

    .show-icon {
      display: none;
    }

    a.collapsed {
      .show-icon {
        display: inline-block;
      }
      .close-icon {
        display: none;
      }
    }
    @media (max-width: 1200px) {
      padding: 0;
    }
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.google-map {
  width: 680px;
  height: 700px;
  position: absolute;
  right: 0;
  top: 125px;
  border-radius: 52px 52px 0 52px;
  background-color: #f4eff0;

  &:after {
    content: "";
    background-color: transparent;
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    z-index: 0;
    bottom: -30px;
    left: -30px;
    border-radius: 52px 52px 0 52px;
    border: 8px solid #f4eff0;
  }
  iframe {
    width: 100%;
    height: 100%;
    border-radius: 52px 52px 0 52px;
    position: relative;
    z-index: 1;
  }
  @media (max-width: 1366px) {
    width: 600px;
    height: 650px;
  }
  @media (max-width: 1024px) {
    position: relative;
    width: 100%;
    height: 500px;
    top: unset;
    right: unset;
  }
}

.get-social-wrapper {
  background: url("../img/get-social.jpg") no-repeat 0 center / cover;
  .get-social {
    border-radius: 0 40px 40px 40px;
    a {
      background-color: #fff;
      color: $main-red !important;
      &:hover {
        background-color: $dark-gray;
        color: #fff !important;
      }
    }
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-bg {
  background: url("../img/services-bg.png") repeat-x 0 center / cover;
}
.mobile-app-development {
  background: url("../img/mobile-app-development.jpg") no-repeat 0 center /
    cover;
}
.web-cloud-app {
  background: url("../img/web-cloud-app.jpg") no-repeat 0 center / cover;
}
.digital-marketing {
  background: url("../img/digital-marketing.jpg") no-repeat 0 center / cover;
}
.common-tabs {
  .nav-tabs {
    border-color: #f3f6f8 !important;
    .nav-link {
      color: $light-gray;
      font-size: 20px;
      font-weight: 400;
      border: 0 none !important;
      border-bottom: 2px solid transparent !important;
      margin-bottom: 0 !important;

      &.active {
        color: $dark-gray;
        border-bottom: 2px solid $main-red !important;
      }
    }
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.view-all {
  border-radius: 16px 16px 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-red;
  width: 60px;
  height: 60px;
  float: right;
  cursor: pointer;
  i {
    font-size: 28px;
    color: #fff;
  }
  &.white {
    background-color: #fff;
    i {
      color: $dark-gray;
    }
    &:hover {
      i {
        color: #fff !important;
      }
    }
  }
  &:hover {
    background-color: $dark-gray;
  }
}
.latest-event {
    background: url("../img/karaoke/10.jpeg") no-repeat center center / cover;

    .cover {
        background: url("../img/events-main-img-cover.png") no-repeat 0 center / cover;
        padding-top: 250px !important;
    }
}
.events {
  .tile {
    border-radius: 20px;
    border: 1px solid #f7f7f7;
    padding: 10px;
    .image {
      max-height: 290px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      box-shadow: 0 12px 12px 4px rgba(0, 0, 0, 0.04);
    }
    .view-all {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      @media (max-width: 768px) {
        display: flex !important;
      }
    }
    &:hover {
      box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.02);
      .view-all {
        display: flex;
      }
    }
  }
}
#videoEmbed {
  iframe {
    display: none;
  }
  &.ginlined-content {
    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.tech-logos{
  .tech{
    min-width: 130px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    h3{
      font-size: 18px;
    }
  }
}
.video {
  // margin-bottom: -130px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    margin-bottom: 0px;
  }
  .video-title {
    position: absolute;
    top: 25px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #fff;
    font-weight: $semibold;
  }
  img {
    border-radius: 30px;
  }
  .play-icon-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    .play-icon {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      box-shadow: 0 15px 8px 0px rgba(235, 76, 75, 0.32);
      i {
        font-size: 40px;
        width: 36px;
        color: $main-red;
      }
    }
  }
}
.lets-talk{
  background: #f8f9fa url(../img/world-map.png) no-repeat left center / 400px;
}

.thumnail-wrap{
  .image{
    max-height: unset !important;
    cursor: pointer;
  }
  .img-fluid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    aspect-ratio: 4/3 !important;
  }
}

.breadcrumb-wrap{
  .breadcrumb-item{
    font-size: 22px;
    
    font-weight: 400;

    &.active{
      font-weight: 500;
      color: black !important;
    }
  }

  a{
    color: #9E9EA6 !important;
    &:hover{
      color: $main-red !important;
    }
  }
}

.gdesc-inner{
  display: none!important;
}
.no-positions{
  border: 2px dashed #ff9873;
  border-radius: 20px;
  padding: 40px 50px;
  background: #fff7f4;
  max-width: 100%;
  width: 670px;
  text-align: center;
  i{
    color: $main-red;
    margin-bottom: 25px;
  }
  h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 0;
  }
}